<div id="newPostPartial">
  <div id="newPostHeading">
    <h3>Create New Comment</h3>
  </div>
  <form class="form new-project-form">
    <div class="form-group">
      <label for="project-desc">Content:</label>
      <textarea class="form-input" name="project-desc"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>