{{! show old blogposts with title and date created as a button. link button click to 
editdeletepost.handlebars }}

<div class="form-group">
  <button type="submit" id="newPostHeading" class="btn btn-primary">+ New Post</button>
</div>

{{! link button click to newpost.handlebars }}